.toggle-search {
right: auto;
left: 0;}

.search-expand {
left: 50.5px;
right: auto;}

#nav-topbar .nav > li:first-child { margin-left: 0px; }

/* temporary slider fix */
.owl-carousel * {
    direction: ltr;
}
.item-title  a, .item-category  a {
    direction: rtl;
}

.grid { margin-right: 0%; float: right; display: inline; position: relative; }

.last { float: left; margin-left: 0!important; }

.social-links { float: left; position: relative; z-index: 2; }

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir.eot');
  src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir.woff') format('woff'),
       url('fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Bold.eot');
  src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Bold.woff') format('woff'),
       url('fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('fonts/Vazir-Light.eot');
  src: url('fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/Vazir-Light.woff') format('woff'),
       url('fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

body { font-family: Vazir;}